


.comment{
    background-color: orange;
    border:solid black;
    padding: 20px 12px;
    display: grid;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    margin-top: 20px;
    -moz-box-shadow: rgba(48, 48, 48, 0.36) 0 0px .4vw;
    -webkit-box-shadow: rgba(48, 48, 48, 0.36) 0 0px .4vw;
    box-shadow: rgba(48, 48, 48, 0.36) 0 0px .4vw;
}
.comment .fullname{
font-weight: bolder;
font-size: large;
margin: 0;
margin-bottom: 5px;

}

.comment .title{
    font-weight: bold;
    margin: 0;

}

.comment .text{
    margin: 0;

}
